In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\biamo\appdata\local\programs\python\python312\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\biamo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\biamo\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\biamo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\biamo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\biamo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv("C:/Users/biamo/OneDrive/Área de Trabalho/git-on33/On33-Pandas/on33-python-s09-pandas-numpy-I/material/mais_ouvidas_2024.csv")

In [9]:
df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [12]:
df.columns

Index(['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC',
       'All Time Rank', 'Track Score', 'Spotify Streams',
       'Spotify Playlist Count', 'Spotify Playlist Reach',
       'Spotify Popularity', 'YouTube Views', 'YouTube Likes', 'TikTok Posts',
       'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach',
       'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins',
       'Deezer Playlist Count', 'Deezer Playlist Reach',
       'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations',
       'Soundcloud Streams', 'Shazam Counts', 'TIDAL Popularity',
       'Explicit Track'],
      dtype='object')

In [17]:
df.dtypes

Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                  object
Track Score                   float64
Spotify Streams                object
Spotify Playlist Count         object
Spotify Playlist Reach         object
Spotify Popularity            float64
YouTube Views                  object
YouTube Likes                  object
TikTok Posts                   object
TikTok Likes                   object
TikTok Views                   object
YouTube Playlist Reach         object
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach          object
Amazon Playlist Count         float64
Pandora Streams                object
Pandora Track Stations         object
Soundcloud Streams             object
Shazam Counts                  object
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object

In [19]:
to_parse = [
    'All Time Rank', 
    'Spotify Streams', 
    'Spotify Playlist Count', 
    'Spotify Playlist Reach', 
    'YouTube Views', 
    'YouTube Likes', 
    'TikTok Posts', 
    'TikTok Likes', 
    'TikTok Views', 
    'YouTube Playlist Reach', 
    'Deezer Playlist Reach', 
    'Pandora Streams', 
    'Pandora Track Stations', 
    'Soundcloud Streams', 
    'Shazam Counts']

In [20]:
for column in to_parse:
    df[column] = df[column].str.replace(",", "").astype(float)

df.dtypes

Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                 float64
Track Score                   float64
Spotify Streams               float64
Spotify Playlist Count        float64
Spotify Playlist Reach        float64
Spotify Popularity            float64
YouTube Views                 float64
YouTube Likes                 float64
TikTok Posts                  float64
TikTok Likes                  float64
TikTok Views                  float64
YouTube Playlist Reach        float64
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach         float64
Amazon Playlist Count         float64
Pandora Streams               float64
Pandora Track Stations        float64
Soundcloud Streams            float64
Shazam Counts                 float64
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object

In [21]:
df['Release Date'] = pd.to_datetime(df['Release Date'], format='mixed')

In [23]:
df.dtypes

Track                                 object
Album Name                            object
Artist                                object
Release Date                  datetime64[ns]
ISRC                                  object
All Time Rank                        float64
Track Score                          float64
Spotify Streams                      float64
Spotify Playlist Count               float64
Spotify Playlist Reach               float64
Spotify Popularity                   float64
YouTube Views                        float64
YouTube Likes                        float64
TikTok Posts                         float64
TikTok Likes                         float64
TikTok Views                         float64
YouTube Playlist Reach               float64
Apple Music Playlist Count           float64
AirPlay Spins                         object
SiriusXM Spins                        object
Deezer Playlist Count                float64
Deezer Playlist Reach                float64
Amazon Playlist Count                float64
Pandora Streams                      float64
Pandora Track Stations               float64
Soundcloud Streams                   float64
Shazam Counts                        float64
TIDAL Popularity                     float64
Explicit Track                         int64
dtype: object

In [24]:
df['Streaming Popularity'] = df[['Spotify Popularity', 'YouTube Views', 'TikTok Likes', 'Shazam Counts']].mean(axis=1)

In [28]:
df[['Streaming Popularity']].head()

   Streaming Popularity
0          1.846275e+08
1          3.817224e+07
2          1.007597e+08
3          5.466705e+08
4          2.594369e+07

In [31]:
df['Total Streaming'] = df[['Spotify Streams', 'YouTube Views', 'TikTok Views', 'Pandora Streams', 'Soundcloud Streams']].sum(axis=1)

In [33]:
df['Total Streaming'].head()

0    5.829851e+09
1    6.627931e+08
2    4.105260e+09
3    1.792137e+10
4    1.891099e+08
Name: Total Streaming, dtype: float64

In [35]:
filtroDf = df[(df['Spotify Popularity'] > 80) & (df['Total Streaming'] > 1_000_000)]

In [38]:
filtroDf.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,Streaming Popularity,Total Streaming
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,QM24S2402528,1.0,725.4,3.904709e+08,30716.0,196631588.0,...,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0,1.846275e+08,5.829851e+09
1,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,USUG12400910,2.0,545.9,3.237039e+08,28113.0,174597137.0,...,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1,3.817224e+07,6.627931e+08
2,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,QZJ842400387,3.0,538.4,6.013093e+08,54331.0,211607669.0,...,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0,1.007597e+08,4.105260e+09
3,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,USSM12209777,4.0,444.9,2.031281e+09,269802.0,136569078.0,...,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0,5.466705e+08,1.792137e+10
4,Houdini,Houdini,Eminem,2024-05-31,USUG12403398,5.0,423.3,1.070349e+08,7223.0,151469874.0,...,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1,2.594369e+07,1.891099e+08

In [41]:
df.to_json('./musicasMaisPopulares.json', index=False)